body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-window {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 15px solid black;
    width: 1100px;
    height: 500px;
    background-color: lightgray;
}

.box {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    top: 0px;
    left: 0px;
}

h1 {
    font-size: 48px; /* Adjust size as needed */
    font-weight: bold;
    text-align: center; /* Optional: Centers the text */
    margin-top: 20px; /* Adjust spacing */
}


.tag {
    background-color: rgba(0, 0, 0,0.6);
    padding: 5px 9px;
    min-width: 80px;
    text-align: center;
    color:white;
    position: absolute;
    font-size:18px;
}

.backToMainButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: gray;
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
  }
